charset="utf-8";
*
{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
a{
  text-decoration:none;
}
a:hover{
   text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
   font-family: 'Raleway', sans-serif;
}
section {
      padding:60px 0;
      overflow:hidden;
}
.section_bg{
      background-color:#f6f6f7;
}
.section_title{
     padding-bottom:30px;
}
.section_title p{
      margin-bottom:0;
      font-family: 'Open Sans', sans-serif;
      color:#444444;
}
.section_title h2{
      font-weight:bold;
      font-size:32px;
      text-transform:uppercase;
      margin-bottom:20px;
      padding-bottom:20px;
      position:relative;
      }


.section_title h2::after{
         content:"";
         position:absolute;
         display:block;
         width:50px;
         height:3px;
         background-color:#009970;
         bottom:0;
         left:0;
}
/*** navigation bar ***/
#navigation{
     top:20px;
     padding:0;
     transition:0.5s all;
     }
#navigation .logo{
       padding:16px 30px;
       background-color:#009970;

}
#navigation .logo a{
        font-size:24px;
        padding:0;
        line-height:1;
        font-weight:700;
        color:#fff;
        text-transform:uppercase;
        font-family: 'Poppins', sans-serif;
}
#anvbarNav{
     background-color:#fff;
}
#navigation #anvbarNav a{
         display:block;
         position:relative;
         color:#36343a;
         padding:17px 17px;
         font-size:14px;
         font-weight:500;
         text-transform:uppercase;
         font-family: 'Poppins', sans-serif;
         transition:0.3s all;
 }
#navigation #anvbarNav a:hover{
             color:#009970;
             text-decoration:none;

}

/*** navigation bar end ***/


/** Banner section css **/
#hero{
     weight:100%;
      height:70vh;
      background: url(../images/pic4.jpg);
      background-position:center;
      background-size:cover;
      background-repeat:no-repeat;
     background-attachment:fixed;
}
#hero.container{
     padding-top:80px;
     }
#hero h1{
    font-size:48px;
    font-weight:700;
    line-height:56px;
    color:#fff;
    margin:0 0 10px 0;
}
#hero h2{
       color:#fff;
       margin-bottom:40px;
       font-size:30px;
       font-weight:400;
       font-family: 'Open Sans', sans-serif;
       letter-spacing:0.5px;
       text-transform:uppercase;
      }
#hero .btn_get_started{
                font-family: 'Poppins', sans-serif;
                text-transform:uppercase;
                font-weight:500;
                font-size:14px;
                letter-spacing:1px;
                display:inline-black;
                padding:8px 28px;
                border-radius:50px;
                margin:10px;
                border:2px solid #fff;
                background-color:transparent;
                color:#fff;
                transition:0.6s all;
              }
#hero .btn_get_started:hover{
       background-color:#009970;
       border:2px solid #009970;

}
/** Banner section css end **/


/** about section **/
.about .content h2{
        font-weight:700;
        font-size:48px;
        line-height:60px;
        margin-bottom:20px;
        text-transform:uppercase;
}
.about .content h3{
        font-weight:500;
        line-height:32px;
        font-size:24px;
}
.about .content ul{
        list-style-type:none;
        padding:0;
   }
.about .content ul li{
          padding:10px 0 0 20px;
          display:flex;
    }
.about .content ul li p{
         margin:0;
}
.about .content ul li i{
           font-size:20px;
           color:#009970;
           margin-right:7px;
}
/** about section end**/

/*** counter section ***/
.counts{
   background-color:#009970;
   padding:40px 0 20px o;
   color:#fff;
  }
.counts .counters span{
         font-size:36px;
         display:block;
         font-weight:700;
}

.counts .counters p{
        padding:0;
        margin:0 0 20px 0;
        font-family: 'Raleway', sans-serif;
        font-size:15px;
        font-weight:500;
}
/*** counter section end ***/


/*** project section ***/
.project .content{
          padding:30px;
          background-color:#009970;
          border-radius:4px;
          color:#fff;
}
.project .content h3{
         font-size:34px;
         font-weight:700;
         margin-bottom:30px;
}
project .content p{
         margin-bottom:30px;
}
.project .content .more_btn{
             display: inline-black;
             background-color:rgba(255,255,255,0.1);
             padding:6px 30px 8px 30px;
             color:#fff;
             border-radius:50px;
             transition:0.4s ease-in-out;
 }
.project .content .more_btn:hover{
               color:#009970;
               background-color:#fff;

}
.project .icon_boxes .icon_box{
          text-align:center;
          border-radius:10px;
          background-color:#fff;
          padding:20px 20px;
          width:100%;
          box-shadow:0px 2px 15px rgba(0,0,0,0.1);
          transition:0.3s ease-in-out;
        }
.project .icon_boxes .icon_box:hover{
             box-shadow:0px 5px 25px rgba(0,0,0,0.15);

 }
.project .icon_boxes .icon_box i{
            font-size:30px;
            color:#009970;
            margin-bottom:13px;
          }
.project .icon_boxes .icon_box h4{
            font-size:20px;
            font-weight:700;
            margin:0 0 30px 0;
}
.project .icon_boxes .icon_box p{
           font-size:15px;
           color:#848484;
}

/*** project section end ***/

/*** cta section ***/
.cta{
   background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/pic5.jpg)
}
.cta h3{
    color:#fff;
    font-size:28px;
    font-weight:700;
}
.cta p{
    color:#fff;

}
.cta .cta_btn{
     font-family: 'Raleway', sans-serif;
     text-transform:uppercase;
     font-weight:600;
     font-size:10px;
     letter-spacing:1px;
     display:inline-block;
     padding:8px 28px;
     border-radius: 25px;
     margin-top:10px;
     border:2px solid #fff;
     color:#fff;
     transition:0.5s all;
}
.cta .cta_btn:hover{
       background-color:#009970;
       border:2px solid #009970;

}

/*** cta section end ***/

/*** profile section  ***/
.profile .iconbox{
       text-align:center;
       padding:40px 20px;
       background:#fff;
       transition:0.6s ease-in-out;
}
.profile .iconbox:hover{
        box-shadow:0 0 25px 0 rgba(0,0,0,0.1);
}


.profile .iconbox .icon i{
         font-size:28px;


}
/*** profile section end ***/
/*** contact section  ***/
.contact .info{
   padding:30px;
   width:100%;
   background-color:#fff;
   box-shadow:0 2px 15px rgba(0,0,0,0.1);
   display:flex;
 }

.contact .info_inner{
           padding-left:15px;


  }
.contact .info i{
      font-size:20px;
      color:#fff;
      width:44px;
      height:44px;
      background-color:#009970;
      display:flex;
      align-items:center;
      justify-content:center;
      border-radius:50%;
      transition:0.3s ease-in-out;
     }


.contact .info_inner h4{
          font-size:22px;
          font-weight:200;
          margin-bottom:5px;
          color:#36343a;
  }
.contact .info_inner p{
         margin-bottom:0;
         font-size:14px;
         color:#686470;
         font-family: 'Open Sans', sans-serif;
   }
.contact .email_form{
        width:100%;
        padding:30px;
        background-color:#fff;
        box-shadow:0 2px 15px rgba(0,0,0,0.1);
   }
.contact .email_form input{
          height:44px;

  }
.contact .email_form input,.contact .email_form textarea{
                       border-radius:0;
                       font-size:14px;
                       font-family: 'Open Sans', sans-serif;
               }
.contact .email_form button{
             border:none;
             background-color:#009970;
             padding:10px 30px;
             color:#fff;
             border-radius:50px;
             transition:0.3s ease-in-out;
             font-family: 'Open Sans', sans-serif;
           }
.contact .email_form button:hover{
           background-color:#00805d;
       }
/*** contact section end ***/
/*** footer section ***/

#footer{
    background-color:#f1f0f2;
    font-size:14px;
    color:#444444;
  }
#footer .footer_top{
         padding:60px 0 30px 0;
         background-color:#f9f8f9;
}
#footer .footer_links{
          margin-bottom:30px;
    }
#footer .footer_top h4{
           font-size:16px;
           font-weight:700;
           color:#444444;
           padding-bottom:12px;
         }
#footer .footer_top .footer_links ul{
                     list-style-type:none;
                     padding:0;
                     margin:0;
}
#footer .footer_top .footer_links ul li{
                       padding:10px 0 ;
                       display:flex;
                       align-items:center;
}
#footer .footer_top .footer_links ul i{
                     padding-right:6px;
                     color:#00c28e;
                     font-size:10px;
                  }
#footer .footer_top .footer_links ul a{
                  color:#777777;
                  font-family: 'Open Sans', sans-serif;
                  display:inline-block;
                  line-height:1;
                  transition:0.3s  ease-in-out;
                 }
#footer .footer_top .footer_links ul a:hover{
                 color:#009970;
                }
#footer .copyright{
         font-family: 'Open Sans', sans-serif;
 }
#footer .credits{
        padding-top:5px;
        font-size:13px;
        color:#444444;
        font-family: 'Open Sans', sans-serif;
}
#footer .credits a{
          color:#009970;

}
#footer .social{
        display:flex;
        align-self:center;
        justify-content:center;
      }
#footer .social a{
         display:flex;
         align-items:center;
         justify-content:center;
         width:36px;
         height:36px;
         border-radius:50%;
         background-color:#009970;
         margin:0 3px;
         transition:0.3s ease-in-out;
       }
#footer .social a:hover{
         background-color:#00805d;
         }
#footer .social a i{
         color:#fff;
         font-size:16px;
}
/*** footer section end ***/
/*** Responsive css ***/
@media only screen and (max-width: 991.98px){
             #navigation{
                background-color:#009970;
                top:0;
                box-shadow:0 2px 15px rgba(0,0,0,1.0);
             }
             #navigation #navbarNav{
                      background-color:#009970;
             }
             #navigation #navbarNav .navbar-nav{
                          padding-bottom:15px;
             }
             #navigation .logo{
                     padding:17px 0 17px 0;
             }
             #navigation .container{
                     padding-right:15px;
                     padding-left:15px;
             }
             #navigation #navbarNav a{
                       color:#fff;
                       text-align:center;
             }
             #navigation #navbarNav a:hover{
                           color:#fff;
             }
             #navigation .navbar-toggler span{
                      color:#fff;
                      font-size:21px;
             }
             #navigation .navbar-toggler:focus{
                         outline:none;
             }
}
